@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

//Page Single
.__single_wrap {
  margin-top: 113px;
  .__content_post {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    .__category_single {
      .post-categories {
        list-style: none;
        li {
          a {
            font-size: 16px;
            line-height: 150%;
            color: #a8a8a8;
            text-decoration: none;
          }
        }
      }
    }
    .__title_single {
      font-size: 52px;
      line-height: 120%;
      color: #2f2f2f;
      margin-top: 8px;
    }
    .__meta {
      opacity: 0.4;
      margin-top: 16px;
      span {
        font-size: 16px;
        line-height: 100%;
        color: #2f2f2f;
      }
    }
  }
  .__body_single {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    ._thumbnail_single {
      margin-bottom: 32px;
      img {
        width: 100%;
      }
    }
    .__content_single {
      p {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 200%;
        color: #4e514e;
      }
      h2 {
        font-family: Scandia;
        font-size: 20px;
        line-height: 100%;
        color: #4e514e;
        margin-bottom: 16px;
      }
      .is-style-default {
        margin: 48px 0;
        figcaption {
          font-family: Scandia;
          margin-top: 16px;
          font-size: 12px;
          line-height: 100%;
          color: #8b8b8b;
          font-weight: 500;
        }
      }
      ._list_post_random{
        margin-top: 24px;
        margin-bottom: 32px;
        list-style-position: inside;
        font-family: "Merriweather", serif;
        li{
          list-style: none;
          position: relative;
          margin-bottom: 24px;
          &::after{
            content: attr(data-src);
            background: #FFE900;
            width: 30px;
            height: 30px;
            color: #000000;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
          }
          &:last-child{
            margin-bottom: 0;
          }
          a{
            margin-left: 40px;
            font-size: 16px;
            line-height: 200%;
            color: #4E514E;
            text-decoration: none;
          }
        }
      }
      blockquote{
        padding: 48px;
        background: #FAFAF9;
        margin: 32px 0 56px 0;
        p{
          font-weight: 300;
          font-size: 20px;
          line-height: 190%;
          color: #4E504E;
          font-style: normal !important;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
